---
import Question from "../../components/Question.astro";

type Question = {
  title: string;
  body: string[];
  options: string[];
  answer: number;
};

export async function getStaticPaths({ paginate }: any) {
  const allExams = ["AZ-104", "AZ-204", "Developer Associate"];
  const allQuestions = await Astro.glob<Question>("../../../public/**/*.json");

  return allExams.map((exam) => {
    return paginate(allQuestions, {
      pageSize: 2,
      params: { exam },
    });
  });
}

const { page } = Astro.props;
const { page: pageNumber, exam } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <a href="/" class="bg-amber-400 py-2 px-4">Go back home</a>
    <header>
      <h1 class="text-4xl">
        {exam} page {pageNumber}
      </h1>
    </header>
    <section>
      {
        page.data[0].default.map((question: Question) => (
          <Question
            answer={question.answer}
            body={question.body}
            options={question.options}
            title={question.title}
          />
        ))
      }
      <!-- {
        promiseQuestions().then((questions) =>
          questions.default.map((q) => (
            <Question
              answer={q.answer}
              body={q.body}
              options={q.options}
              title={q.title}
            />
          ))
        )
      } -->
    </section>
  </body>
</html>
