---
import { getCollection } from "astro:content";

import Pagination from "../../components/Pagination.astro";
import Question from "../../components/Question.astro";
import Layout from "../../layouts/main.astro";

export async function getStaticPaths({ paginate }: any) {
    const allExams = [
        await getCollection("Amazon_AWS_Certified_Cloud_Practitioner"),
        await getCollection("Amazon_AWS_Certified_Cloud_Practitioner_CLF-C02"),
        await getCollection("Amazon_AWS_Certified_Developer"),
        await getCollection("Amazon_AWS_Certified_Security"),
        await getCollection("Amazon_AWS_Certified_Solutions_Architect"),
        await getCollection("Amazon_AWS_Certified_SysOps_Administrator"),
        await getCollection("Google_Professional_Cloud_Architect"),
        await getCollection(
            "Google_Professional_Cloud_Associate_Cloud_Engineer"
        ),
        await getCollection("Google_Professional_Cloud_Database_Engineer"),
        await getCollection("Google_Professional_Cloud_DevOps_Engineer"),
        await getCollection("Google_Professional_Cloud_Security_Engineer"),
        await getCollection("Microsoft_AZ-104"),
        await getCollection("Microsoft_AZ-204"),
        await getCollection("Microsoft_AZ-220"),
        await getCollection("Microsoft_AZ-305"),
        await getCollection("Microsoft_AZ-400"),
        await getCollection("Microsoft_AZ-500"),
        await getCollection("Microsoft_AZ-600"),
        await getCollection("Microsoft_AZ-700"),
        await getCollection("Microsoft_AZ-720"),
        await getCollection("Microsoft_AZ-900"),
        await getCollection("Microsoft_DP-203"),
        await getCollection("Microsoft_DP-300"),
        await getCollection("Microsoft_DP-500"),
        await getCollection("Microsoft_DP-600"),
        await getCollection("Microsoft_DP-700"),
        await getCollection("Microsoft_DP-900"),
        await getCollection("Microsoft_MS-720"),
        await getCollection("Microsoft_PL-300"),
        await getCollection("Microsoft_SC-100"),
        await getCollection("Microsoft_SC-200"),
        await getCollection("Microsoft_SC-300"),
        await getCollection("Microsoft_SC-400"),
        await getCollection("Microsoft_AI-102"),
        await getCollection("HashiCorp_Terraform_Associate"),
    ];

    return allExams.map((examContent) => {
        const exam = examContent[0].collection;
        return paginate(examContent, {
            pageSize: 10,
            params: { exam },
        });
    });
}

const page = Astro.props.page.data;
console.log(page)
const current = Astro.props.page.currentPage;
const url = Astro.props.page.url;
const { page: pageNumber, exam } = Astro.params;
---

<html lang="en">
    <head>
        <title>{exam} - page {pageNumber} | Exam Tests</title>
    </head>

    <Layout exam={exam}>
        <header
            class="py-2 px-1 border-b-2 font-medium border-petroleum [scrollbar-gutter:stable ] md:w-full md:mx-auto md:max-w-2xl mx-7 dark:border-gray-600"
        >
            <h1 class="text-2xl dark:text-gray-100">
                {exam && exam.replace("_", " ")}
            </h1>
        </header>
        <br />
        <Pagination current={current} nextUrl={url.next} prevUrl={url.prev} />
        <section class="px-6 max-w-screen-xl mx-auto">
            {
                Array.isArray(page) &&
                    page.map(({ data }) => {
                        return(
                        <Question
                            answer={data.answer}
                            body={data.body}
                            options={data.options}
                            title={data.title}
                            answerET={data.et_answer}
                        />
                    )})
            }
        </section>
        <Pagination current={current} nextUrl={url.next} prevUrl={url.prev} />
    </Layout>

    <style is:global>
        @tailwind base;
        @font-face {
            font-family: "Montserrat";
            src: url("/fonts/Montserrat-VariableFont_wght.ttf");
        }
    </style>
</html>
