---
import Pagination from "../../components/Pagination.astro";
import Question from "../../components/Question.astro";
import Layout from "../../layouts/main.astro";

type QuestionInfo = {
  title: string;
  body: string[];
  options: string[];
  answer: string;
};

export async function getStaticPaths({ paginate }: any) {
  const allExams = [
    "Microsoft_AZ-104",
    "Microsoft_AZ-204",
    "Microsoft_AZ-400",
    "Microsoft_AZ-900",
    "Microsoft_DP-203",
    "Microsoft_DP-300",
    "Microsoft_PL-300",
    "Microsoft_SC-100",
    "Microsoft_SC-200",
    "Microsoft_SC-300",
  ];
  const az104Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_AZ-104/*.json"
  );
  const az204Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_AZ-204/*.json"
  );
  const az400Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_AZ-400/*.json"
  );
  const az900Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_AZ-900/*.json"
  );
  const dp300Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_DP-300/*.json"
  );
  const dp203Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_DP-203/*.json"
  );
  const pl300Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_PL-300/*.json"
  );
  const sc100Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_SC-100/*.json"
  );
  const sc200Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_SC-200/*.json"
  );
  const sc300Questions = await Astro.glob<QuestionInfo>(
    "../../../public/Microsoft_SC-300/*.json"
  );

  return allExams.map((exam) => {
    const qs =
      exam === "Microsoft_AZ-104"
        ? az104Questions
        : exam === "Microsoft_AZ-204"
        ? az204Questions
        : exam === "Microsoft_AZ-400"
        ? az400Questions
        : exam === "Microsoft_AZ-900"
        ? az900Questions
        : exam === "Microsoft_DP-203"
        ? dp203Questions
        : exam === "Microsoft_DP-300"
        ? dp300Questions
        : exam === "Microsoft_PL-300"
        ? pl300Questions
        : exam === "Microsoft_SC-100"
        ? sc100Questions
        : exam === "Microsoft_SC-200"
        ? sc200Questions
        : exam === "Microsoft_SC-300"
        ? sc300Questions
        : az104Questions;
    return paginate(qs, {
      pageSize: 10,
      params: { exam },
    });
  });
}

const page: QuestionInfo[] = Astro.props.page.data;
const current = Astro.props.page.currentPage;
const url = Astro.props.page.url;
const { page: pageNumber, exam } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{exam} - page {pageNumber} | Exam Tests</title>
  </head>

  <Layout exam={exam}>
    <header class="pt-6 pb-8 border-b-2 border-gray-100">
      <h1 class="text-4xl">
        {exam && exam.replace("_", " ")}
      </h1>
    </header>
    <br />
    <Pagination current={current} nextUrl={url.next} prevUrl={url.prev} />
    <section>
      {
        Array.isArray(page) &&
          page.map((question: QuestionInfo) => (
            <Question
              answer={question.answer}
              body={question.body}
              options={question.options}
              title={question.title}
            />
          ))
      }
    </section>
    <Pagination current={current} nextUrl={url.next} prevUrl={url.prev} />
  </Layout>


</html>
