---
import { getCollection } from "astro:content";

import Pagination from "../../components/Pagination.astro";
import Question from "../../components/Question.astro";
import Layout from "../../layouts/main.astro";

export async function getStaticPaths({ paginate }: any) {
    const az104 = await getCollection("Microsoft_AZ-104");
    const az700 = await getCollection("Microsoft_AZ-700");
    const gcpAssociateEng = getCollection(
            "Google_Professional_Cloud_Associate_Cloud_Engineer"
        );
    const AWSSysOps = getCollection("Amazon_AWS_Certified_SysOps_Administrator");
    const allExams = [
        "Microsoft_AZ-104",
        "Microsoft_AZ-700",
        "Google_Professional_Cloud_Associate_Cloud_Engineer",
        "Amazon_AWS_Certified_SysOps_Administrator",
    ];

    return allExams.map((exam) => {
    const coll =
      exam === "Microsoft_AZ-104"
        ? az104
        : exam === "Microsoft_AZ-700"
        ? az700
        : exam === "Google_Professional_Cloud_Associate_Cloud_Engineer"
        ? gcpAssociateEng
        : exam === "Amazon_AWS_Certified_SysOps_Administrator"
        ? AWSSysOps
        : az104
        
        return paginate(coll, {
            // pageSize: 10,
            params: { exam },
        });
    });
}

const page = Astro.props.page.data;
const current = Astro.props.page.currentPage;
const url = Astro.props.page.url;
const { page: pageNumber, exam } = Astro.params;
---

<html lang="en">
    <head>
        <title>{exam} - page {pageNumber} | Exam Tests</title>
    </head>

    <Layout exam={exam}>
        <header
            class="py-2 px-1 border-b-2 font-medium border-petroleum [scrollbar-gutter:stable ] md:w-full md:mx-auto md:max-w-2xl mx-7 dark:border-gray-600"
        >
            <h1 class="text-2xl dark:text-gray-100">
                {exam && exam.replace("_", " ")}
            </h1>
        </header>
        <br />
        <Pagination current={current} nextUrl={url.next} prevUrl={url.prev} />
        <section class="px-6 max-w-screen-xl mx-auto">
            {
                Array.isArray(page) &&
                    page.map((question) => (
                        <Question
                            answer={question.answer}
                            body={question.body}
                            options={question.options}
                            title={question.title}
                        />
                    ))
            }
        </section>
        <Pagination current={current} nextUrl={url.next} prevUrl={url.prev} />
    </Layout>

    <style is:global>
        @tailwind base;
        @font-face {
            font-family: "Montserrat";
            src: url("/fonts/Montserrat-VariableFont_wght.ttf");
        }
    </style>
</html>
