---
import Layout from "../../layouts/main.astro"
export async function getStaticPaths() {
  return [
    { params: { exam: "AZ-104" } },
    { params: { exam: "AZ-204" } },
    { params: { exam: "Developer Associate" } },
    { params: { exam: "Microsoft_SC-100" } },
  ];
}

const { exam } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{exam} | Exam Test</title>
  </head>

  <Layout exam={exam} >
    <section >
    <h1 class="text-2xl font-bold">{exam} Questions</h1>
    <p class="h-4"> </p>
    <a href={`/${exam}/1`} 
  class="appearance-none py-2 px-4 bg-emerald-500 text-white font-semibold rounded-lg shadow-md hover:bg-emerald-700 focus:outline-none focus:ring-1 focus:ring-emerald-500 focus:ring-opacity-75"
>Go to the questions</a
    ></section>
</Layout>
</html>
