---
import Layout from "../../layouts/main.astro";
export async function getStaticPaths() {
  return [
    { params: { exam: "Microsoft_AZ-104" } },
    { params: { exam: "Microsoft_AZ-204" } },
    { params: { exam: "Microsoft_AZ-400" } },
    { params: { exam: "Microsoft_AZ-900" } },
    { params: { exam: "Microsoft_AZ-700" } },
    { params: { exam: "Microsoft_AZ-720" } },
    { params: { exam: "Microsoft_DP-203" } },
    { params: { exam: "Microsoft_DP-300" } },
    { params: { exam: "Microsoft_DP-900" } },
    { params: { exam: "Microsoft_MS-720" } },
    { params: { exam: "Microsoft_PL-300" } },
    { params: { exam: "Microsoft_SC-100" } },
    { params: { exam: "Microsoft_SC-200" } },
    { params: { exam: "Microsoft_SC-300" } },
    { params: { exam: "Microsoft_SC-400" } },
    { params: { exam: "Google_Professional_Cloud_Architect" } },
    { params: { exam: "Google_Professional_Cloud_DevOps_Engineer" } },
    { params: { exam: "Amazon_AWS_Certified_Cloud_Practitioner" } },
    { params: { exam: "Amazon_AWS_Certified_SysOps_Administrator" } },
  ];
}

const { exam } = Astro.params;
const fixedExams = [
  "Microsoft_SC-100",
  "Microsoft_AZ-104",
  "Microsoft_AZ-204",
  "Microsoft_PL-300",
];
const revisionExams = [""];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{exam} | Exam Test</title>
  </head>

  <Layout exam={exam}>
    <section class="sm:max-w-xl md:max-w-2xl mx-7 mr-9 sm:px-0 sm:mx-auto">
      <h1 class="text-2xl font-medium dark:text-gray-100 px-1 py-2 border-b-2 border-petroleum dark:border-lightgray">{exam} Questions</h1>
      {
        fixedExams.some((e) => e === exam) ? (
          <strong class="py-2 px-4 border-emerald-300 border-2 rounded-lg mt-4 mb-2 block w-fit dark:text-emerald-400 dark:border-emerald-300 dark:bg-emerald-500/20">
            Images up to date
          </strong>
        ) : revisionExams.some((e) => e === exam) ? (
          <strong class="py-2 px-4 border-amber-300 border-2 rounded-lg mt-4 mb-2 block w-fit dark:text-emerald-400 dark:border-emerald-300 dark:bg-emerald-500/20">
            Images need to be updated
          </strong>
        ) : (
          <strong class="py-2 px-4 border-red-300 border-2 rounded-lg mt-4 mb-2 block w-fit dark:text-red-400 dark:border-red-300 dark:bg-red-500/20">
            Images need to be updated
          </strong>
        )
      }
      <p class="h-4"></p>
      <a
        href={`/${exam}/1`}
        class="appearance-none py-2 px-4 bg-emerald-500 text-white font-semibold rounded-lg shadow-md hover:bg-emerald-700 focus:outline-none focus:ring-1 focus:ring-emerald-500 focus:ring-opacity-75"
        >Go to the questions</a
      >
    </section>
  </Layout>


</html>
