---
import Question from "../components/Question.astro";
import AZ104Questions from "../../public/AZ-104_1.json";

export function getStaticPaths() {
  return [
    { params: { question: "AZ-104" } },
    { params: { question: "AZ-204" } },
    { params: { question: "Developer Associate" } },
  ];
}

const { question } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <a href="/" class="bg-amber-400 py-2 px-4">Go back home</a>
    <header>
      <h1 class="text-4xl">
        {question}
      </h1>
    </header>
    <section>
      {
        AZ104Questions.map((q) => (
          <Question
            answer={q.answer}
            body={q.body}
            options={q.options}
            title={q.title}
          />
        ))
      }
    </section>
  </body>
</html>
