---
import Layout from "../layouts/main.astro";
const exams = [
  [
    "Amazon_AWS_Certified_Cloud_Practitioner",
    "Cloud Practitioner Foundational",
    "CLF-C01",
  ],
  ["Amazon_AWS_Certified_Developer", "Developer", "DVA-C02"],
  ["Amazon_AWS_Certified_Security", "Security", "SCS-C02"],
  [
    "Amazon_AWS_Certified_Solutions_Architect",
    "Solutions Architect",
    "SSA-C03",
  ],
  [
    "Amazon_AWS_Certified_SysOps_Administrator",
    "SysOps Administrator",
    "SOA-C02",
  ],
  [
    "Google_Professional_Cloud_Architect",
    "Google Professional Cloud Architect",
    "",
  ],
  [
    "Google_Professional_Cloud_Associate_Cloud_Engineer",
    "Google Professional Cloud Associate Cloud Engineer",
    "",
  ],
  [
    "Google_Professional_Cloud_Database_Engineer",
    "Google Professional Cloud Database Engineer",
    "",
  ],
  [
    "Google_Professional_Cloud_DevOps_Engineer",
    "Google Professional Cloud DevOps Engineer",
    "",
  ],
  [
    "Google_Professional_Cloud_Security_Engineer",
    "Google Professional Cloud Security Engineer",
    "",
  ],
  ["Microsoft_AZ-104", "Azure Administrator Associate", "AZ-104"],
  ["Microsoft_AZ-204", "Azure Developer Associate", "AZ-204"],
  ["Microsoft_AZ-305", "Azure Solutions Architect Expert", "AZ-305"],
  ["Microsoft_AZ-400", "DevOps Engineer Expert", "AZ-400"],
  ["Microsoft_AZ-700", "Azure Network Engineer Associate", "AZ-700"],
  [
    "Microsoft_AZ-720",
    "Azure Support Engineer for Connectivity Specialty",
    "AZ-720",
  ],
  ["Microsoft_AZ-900", "Azure Fundamentals", "AZ-900"],
  ["Microsoft_DP-203", "Azure Data Engineer Associate", "DP-203"],
  ["Microsoft_DP-300", "Azure Database Administrator Associate", "DP-300"],
  ["Microsoft_DP-900", "Azure Data Fundamentals", "DP-900"],
  ["Microsoft_MS-720", "Teams Voice Engineer Expert", "MS-720"],
  ["Microsoft_PL-300", "Power BI Data Analyst Associate", "PL-300"],
  ["Microsoft_SC-100", "Cybersecurity Architect Expert", "SC-100"],
  ["Microsoft_SC-200", "Security Operations Analyst Associate", "SC-200"],
  ["Microsoft_SC-300", "Identity and Access Administrator Associate", "SC-300"],
  [
    "Microsoft_SC-400",
    "Information Protection Administrator Associate",
    "SC-400",
  ],
  ["HashiCorp_Terraform_Associate", "Terraform Associate", "003"],
];

const hyperscalers = ["Microsoft", "AWS", "Google Cloud", "Terraform"];
---

<html lang="en">
  <head>
    <title>Exam Test</title>
  </head>

  <Layout>
    <section class="mb-20 mx-4 mr-6 sm:mr-4 [scrollbar-gutter:stable]">
      {
        hyperscalers.map((hyper) => (
          <article class="sm:max-w-xl md:max-w-2xl lg:max-w-4xl max-w-lg px-3 sm:px-0 mx-auto mb-4 [scrollbar-gutter:stable">
            <header class="px-1 py-2 border-b-2 border-b-petroleum  text-petroleum dark:border-b-lightgray dark:text-lightgray ">
              <button
                id={`btn_${hyper.split(" ")[0]}`}
                class="flex items-end justify-between w-full"
              >
                <h2 class="text-2xl inline font-medium">{hyper}</h2>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="24"
                  viewBox="0 0 8 12"
                  fill="none"
                  class="rotate-90"
                >
                  <path
                    d="M4.97656 6.00011L0.851562 1.87511L2.0299 0.696777L7.33323 6.00011L2.0299 11.3034L0.851562 10.1251L4.97656 6.00011Z"
                    class="fill-petroleum dark:fill-lightgray"
                    fill="black"
                  />
                </svg>
              </button>
            </header>
            <div id={`exam_${hyper}`} class="hidden">
              <div class="grid place-items-center mb-20 mt-8 content-center overflow-auto text-center lg:max-w-4xl sm:max-w-2xl sm:px-0 mx-auto grid-cols-1 gap-4 md:gap-4 md:grid-cols-3 lg:grid-cols-4 sm:grid-cols-2">
                {exams
                  .filter((exam) => exam[0].includes(hyper.split(" ")[0]))
                  .map((exam) => (
                    <a
                      href={"/" + exam[0]}
                      class="w-full h-full bg-[#ff9071] hover:bg-coral text-left rounded-md "
                    >
                      <div class="h-28">
                        <div class="font-bold text-md mt-6 pb-12 px-3">
                          {exam[1]}
                        </div>
                      </div>
                      <div class="py-2 bg-petroleum dark:bg-lightgray/70 dark:text-petroleum font-semibold text-lightgray rounded-b-md w-full pl-3">
                        {
                          exam[2]
                          // .replace("Microsoft_", "")
                          // .replace("Google_Professional_Cloud_", "GCP ")
                          // .replace("Amazon_AWS_Certified_", "AWS ")}
                        }
                      </div>
                    </a>
                  ))}
              </div>
            </div>
          </article>
        ))
      }
    </section>
  </Layout>

  <style is:global>
    @tailwind base;
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-VariableFont_wght.ttf");
    }
  </style>

  <script is:inline>
    // const button = document.body.querySelector(`button#${idTitle}`);
    const buttons = document.body.querySelectorAll("button");
    // const answerEl = document.body.querySelector(`img#${answer}`);
    const examBodys = document.body.querySelectorAll("div.hidden");

    if (buttons && examBodys) {
      buttons.forEach((btn) => {
        const svg = btn.lastElementChild;
        const examBody = Array.from(examBodys).filter((e) =>
          e.id.includes(btn.id.split("_")[1])
        )[0];
        btn.addEventListener("click", () => {
          if (examBody.classList.contains("hidden")) {
            examBody.classList.remove("hidden");
            svg.classList.remove("rotate-90");
            svg.classList.add("-rotate-90");
            // btn.classList.add("-rotate-90");
          } else {
            examBody.classList.add("hidden");
            svg.classList.remove("-rotate-90");
            svg.classList.add("rotate-90");
          }
        });
      });
    }
  </script>
</html>
