---
interface Props {
  title: string;
  body: string[];
  options: string[];
  answer: number;
}

import ButtonShow from "./ButtonShow.astro";
import ButtonSwitch from "./ButtonSwitch.astro";

const { title, body, options, answer } = Astro.props;
const titleSimplified = title.split(" ").join("-");
const answerID = `answer-${titleSimplified}`;
---

<article class="px-4 max-w-prose" data-question-title={title}>
  <header>
    <h2 class="text-2xl">{title}</h2>
  </header>
  <section id="question-body" class="py-8">
    {
      body.map((content) =>
        !content.startsWith("<img>") ? (
          <p>{content}</p>
        ) : (
          <img src={content.replaceAll("<img>", "")} />
        )
      )
    }
  </section>
  <section id="question-options">
    <ol class="list-[upper-alpha] px-6">
      {
        options.map((option, i) =>
          !option.startsWith("<img>") ? (
            <li id={`${i == answer ? answerID : ""}`} class="font-medium">
              {option}
            </li>
          ) : (
            <img
              src={option.replaceAll("<img>", "")}
              id={answerID}
              class="hidden"
            />
          )
        )
      }
    </ol>
  </section>
  {
    answer < 0 ? (
      <ButtonShow answer={answerID} title={title} />
    ) : (
      <ButtonSwitch title={title} answer={answerID} />
    )
  }
</article>
