---
interface Props {
  title: string;
  body: string[];
  options: string[];
  answer: string;
}

import ButtonShow from "./ButtonShow.astro";
import ButtonSwitch from "./ButtonSwitch.astro";

const { title, body, options, answer } = Astro.props;
const titleSimplified = title.split(" ").join("-");
const answerID = `answer-${titleSimplified}`;

const ansMap = ["A", "B", "C", "D", "E", "F"];
const ansm = answer.split("").map((letter) => ansMap.indexOf(letter))
const ans = ansMap.indexOf(answer);
---

<article class="max-w-[80ch] mx-auto my-8 shadow-xl px-6 py-6 bg-gray-50 rounded-lg shadow-gray-300" data-question-title={title}>
  <header>
    <h2 class="text-2xl font-semibold">{title}</h2>
  </header>
  <section id="question-body" class="py-4 max-w-[73ch]">
    {
      body.map((content) =>
        !content.startsWith("<img>") ? (
          <p class="my-[0.45rem] font-normal">{content}</p>
        ) : (
          <img src={"" + content.replaceAll("<img>", "").replace(" ", "_")} />
        )
      )
    }
  </section>
  <section id="question-options" class="mb-4">
    <ol class=" px-6">
      {
        options.map((option, i) => {
          return !option.startsWith("<img>") ? (
            <li data-answer={`${ansm.some(ansIndex => i === ansIndex) ? answerID : ""}`} class="font-medium list-[upper-alpha] py-1">
              {option}
            </li>
          ) : (
            <img
              src={"" + option.replaceAll("<img>", "").replace(" ", "_")}
              id={answerID}
              class="hidden"
            />
          );
        })
      }
    </ol>
  </section>
  {
    answer.length > 0 ? (
      <ButtonSwitch title={title} answer={answerID} />
    ) : (
      <ButtonShow answer={answerID} title={title} />
    )
  }
</article>
